{% extends 'template_backend.twig' %}

{% block head %}
    <title>Détails de la question</title>
{% endblock %}

{% block content %}
    {% for question in oneQuestion %}
        <div class='d-flex align-items-center title_details_quiz'>
            <a href='./index.php?action=details-quiz&idQuiz={{ question.idQuiz }}' class='back_arrow'><i class='fa fa-arrow-left fa-2x' aria-hidden='true'></i></a>
            <p class='title_details'>Question {{ question.idQuestion }}</p>
            <a href='./index.php?action=edit-question&idQuestion={{ question.idQuestion }}' class='icons_title'><i class='fa fa-pencil fa-lg info_icon' aria-hidden='true'></i></a>
            <a href='./index.php?action=alert-question&idQuestion={{ question.idQuestion }}' class='icons_title'><i class='fa fa-trash-o fa-lg delete_icon' aria-hidden='true'></i></a>
        </div>

        {% if allAnswers == null %}
            <div class='alert alert-danger alert_empty' role='alert'>Cette question ne contient aucune proposition de réponse, elle est donc indisponible sur le site. Ajoutez-lui des réponses dès maintenant !</div>
        {% endif %}

        {% if  session.update_question is defined %}
            <div class='alert alert-success alert_empty' role='alert'>La question a été mise à jour avec succès !</div>
        {% endif %}

        <div class='d-flex flex-column justify-content-center align-items-center' id='content_question'>
            <p class='data_question'>{{ question.question }}</p>

            <div class='col-12 d-flex flex-column justify-content-around align-items-center'>
                <div class='col-lg-3 col-md-5 col-sm-5 btn-secondary d-flex justify-content-around new_answer' id='new_answer'>
                    <i class='fa fa-plus fa-2x' aria-hidden='true'></i>
                    <a href='#' class='link_new_answer'>Nouvelle réponse</a>
                </div>

                <div class='col-lg-9 col-md-9 col-sm-9 d-flex justify-content-center align-content-center flex-wrap'>
                    {% for answer in allAnswers %}
                        <div class='col-lg-4 d-flex justify-content-center align-items-center'>
                            {% if answer.rightAnswer %}
                                <div class='btn-success d-flex justify-content-center answers'>{{ answer.answer }}</div>
                            {% else %}
                                <div class='btn-primary d-flex justify-content-center answers'>{{ answer.answer }}</div>
                            {% endif %}
                            
                            <div class='d-flex flex-column'>
                                <a href='./index.php?action=edit-answer&idAnswer={{ answer.idAnswer }}&idQuestion={{ answer.idQuestion }}' class='answer_icon edit_answer'><i class='fa fa-pencil fa-lg info_icon' aria-hidden='true'></i></a>
                                <a href='./index.php?action=delete-answer&idAnswer={{ answer.idAnswer }}&idQuestion={{ answer.idQuestion }}' class='answer_icon'><i class='fa fa-trash-o fa-lg delete_icon' aria-hidden='true'></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% for answerEdit in oneAnswer %}
                    <div class='edit_answer_container' class='col-lg-5'>
                        <a href='#' class='close_answer close_edit_answer'><i class='fa fa-times' aria-hidden='true'></i></a>
                        <form action='./index.php?action=update-answer&idAnswer={{ answerEdit.idAnswer }}&idQuestion={{ answerEdit.idQuestion }}' method='post' class='col-lg-12'>
                            <div class='form-group form-inline'>
                                <input type='text' id='answer' name='answer' value='{{ answerEdit.answer }}' required class='col-lg-10 form-text'>
                                <button id='valid_new_answer' class='col-lg-2 btn btn-success'><i class='fa fa-check' aria-hidden='true'></i></button>
                            </div>
                            <div class='form-group form-inline'>
                                <p style='margin-bottom: 0; margin-right: 15px;'>Est-ce la bonne réponse ?</p>
                                <div class='form-check form-check-inline'>
                                    {% if answerEdit.rightAnswer %}
                                        <input class='form-check-input' type='radio' value='1' id='right_answer' name='rightAnswer' checked>
                                    {% else %}
                                        <input class='form-check-input' type='radio' value='1' id='right_answer' name='rightAnswer'>
                                    {% endif %}
                                    <label class='form-check-label' for='right_answer'>Oui</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    {% if answerEdit.rightAnswer %}
                                        <input class='form-check-input' type='radio' value='0' id='right_answer' name='rightAnswer'>
                                    {% else %}
                                        <input class='form-check-input' type='radio' value='0' id='right_answer' name='rightAnswer' checked>
                                    {% endif %}
                                    <label class='form-check-label' for='right_answer'>Non</label>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                
                <div id='answer_container' class='col-lg-5 answer_container'>
                    <a href='#' id='close_new_answer' class='close_answer'><i class='fa fa-times' aria-hidden='true'></i></a>
                    <form action='./index.php?action=valid-new-answer&idQuestion={{ question.idQuestion }}' method='post' class='col-lg-12'>
                        <div class='form-group form-inline'>
                            <input type='text' id='answer' name='answer' required class='col-lg-10 form-text'>
                            <button id='valid_new_answer' class='col-lg-2 btn btn-success'><i class='fa fa-check' aria-hidden='true'></i></button>
                        </div>
                        <div class='form-group form-inline'>
                            <p style='margin-bottom: 0; margin-right: 15px;'>Est-ce la bonne réponse ?</p>
                            <div class='form-check form-check-inline'>
                                <input class='form-check-input' type='radio' value='1' id='right_answer' name='rightAnswer' required>
                                <label class='form-check-label' for='right_answer'>Oui</label>
                            </div>
                            <div class='form-check form-check-inline'>
                                <input class='form-check-input' type='radio' value='0' id='right_answer' name='rightAnswer' required>
                                <label class='form-check-label' for='right_answer'>Non</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p class='data_question'>{{ question.explanation }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <script>
        $('#new_answer').click(function() {
            $('#answer_container').slideDown(400);
        });
        $('#close_new_answer').click(function() {
            $('#answer_container').hide();
        });
        $('.edit_answer').click(function() {
            page = $(this).attr('href');
            $.ajax({
                url: page,
                cache: false,
                success: function(html) {
                    $('body').empty();
                    $('body').append(html);
                },
                error: function() {
                    alert('error');
                },
            });
            return false;
        });
        $('.close_edit_answer').click(function() {
            $('.edit_answer_container').hide();
        });
    </script>
{% endblock %}