{% extends 'template_backend.twig' %}

{% block head %}
<title>Détails de l'utilisateur</title>
{% endblock %}

{% block content %}

{% for user in oneUser %}
<div class="d-flex align-items-center title_details_user">
    <h1><i class="fa fa-user" aria-hidden="true"></i> Utilisateur | {{ user.nameUser }} {{ user.lastnameUser }}</h1>
    <a href="/projet_5/edit-user-{{ user.idUser }}" class="icons_title"><i class="fa fa-pencil fa-lg info_icon" aria-hidden="true"></i></a>
    <a href="/projet_5/alert-user-{{ user.idUser }}" class="icons_title"><i class="fa fa-trash-o fa-lg delete_icon" aria-hidden="true"></i></a>
</div>

<div class="data_user_container">
    <div class="col-lg-4 d-flex justify-content-between data_user">
        <p>Identifiant :</p>
        <p>{{ user.identifiant }}</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-between data_user">
        <p>Mot de passe :</p>
        <p>{{ user.password }}</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-between data_user">
        <p>Nom :</p>
        <p>{{ user.lastnameUser }}</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-between data_user">
        <p>Prénom :</p>
        <p>{{ user.nameUser }}</p>
    </div>
    <div class="col-lg-4 d-flex justify-content-between data_user">
        <p>Administrateur :</p>
        <p> {% if user.admin %}
            Oui
            {% else %}
            Non
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}

{% endblock %}