{% extends 'template_backend.twig' %}

{% block head %}
    <title>Détails du quiz</title>
{% endblock %}

{% block content %}
    <div class='col-lg-12'>
        {% for quiz in oneQuiz %}
            <div class='d-flex align-items-center title_details_quiz'>
                <a href='./index.php?action=details-category&idCategory={{ quiz.idCategory }}' class='back_arrow'><i class='fa fa-arrow-left fa-2x' aria-hidden='true'></i></a>
                <p class='title_details'>Quiz | {{ quiz.nameQuiz }}</p>
                <a href='./index.php?action=edit-quiz&idQuiz={{ quiz.idQuiz }}&idCategory={{ quiz.idCategory }}' class='link_pencil icons_title'><i class='fa fa-pencil fa-lg info_icon' aria-hidden='true'></i></a>
                <a href='./index.php?action=alert-quiz&idQuiz={{ quiz.idQuiz }}' class='link_pencil icons_title'><i class='fa fa-trash-o fa-lg delete_icon' aria-hidden='true'></i></a>
            </div>

            {% if allQuestions == null %}
                <div class='alert alert-danger' role='alert'>Ce quiz est vide, il est donc indisponible sur le site. Remplissez-le dès maintenant !</div>
            {% endif %}

            {% if  session.update_quiz is defined %}
                <div class='alert alert-success alert_empty' role='alert'>Le quiz a été mis à jour avec succès !</div>
            {% endif %}

            {% if  session.new_question is defined %}
                <div class='alert alert-success alert_empty' role='alert'>La question a été créée avec succès !</div>
            {% endif %}

            {% if  session.delete_question is defined %}
                <div class='alert alert-success alert_empty' role='alert'>La question a été supprimée avec succès !</div>
            {% endif %}

            <div class='d-flex justify-content-around flex-wrap questions_container'>
                <div class='d-flex flex-column align-items-center justify-content-center card question_card' style='width: 13rem;'>
                    <a href='./index.php?action=new-question&idQuiz={{ quiz.idQuiz }}' class='new_question_link'>
                        <i class='fa fa-plus fa-3x' aria-hidden='true'></i>
                        <p>Nouvelle question</p>
                    </a>
                </div>
            

                {% for question in allQuestions %}
                    <div class='d-flex flex-column align-items-center card question_card' style='width: 13rem;'>
                        <div class='card-title'>
                            <h4 style='color: #8A8A8A;'>Question {{ question.idQuestion }}</h4>
                        </div>
                        <div class='card-text text_question'>
                            <p class='question'>{{ question.question }}</p>
                        </div>
                        <div class='d-flex justify-content-around quiz_icons'>
                            <a href='./index.php?action=details-question&idQuestion={{ question.idQuestion }}' class='quiz_icon'><i class='fa fa-info-circle fa-lg info_icon' aria-hidden='true'></i></a>
                            <a href='./index.php?action=alert-question&idQuestion={{ question.idQuestion }}' class='quiz_icon'><i class='fa fa-trash-o fa-lg delete_icon' aria-hidden='true'></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}