{% extends 'template_frontend.twig' %}

{% block head %}
    <title>Quiz</title>
{% endblock %}

{% block content %}
    <div class='container col-lg-12'>
        <div class='row'>
            {% for quiz in oneQuiz %}
                <h1 class='title_start_quiz'>{{ quiz.nameQuiz }}</h1>
            {% endfor %}

            {% if allAnswers != null %}
                {% for question in singleQuestion %}
                    <form method='post' action='/questionnary/question-answer-{{ question.idQuestion }}-{{ indexCurrentQuestion }}-{{ question.idQuiz }}' class='col-lg-9 d-flex flex-column justify-content-around align-items-center question_container'>
                        <p class='question'>{{ question.question }}</p>
                        <div class='d-flex align-items-center'>
                            {% for answer in allAnswers %}
                                <input type='radio' id='answer' name='answer' value='{{ answer.idAnswer }}'>
                                <label class='btn-secondary answer'>{{ answer.answer }}</label>
                            {% endfor %}
                        </div>
                        <button type='submit' class='col-lg-1 btn btn-success btn_valid'>Valider</button>
                    </form>
                {% endfor %}
            {% else %}
                {% for question in singleQuestion %}
                    <div class='col-lg-12 d-flex flex-column justify-content-center align-items-center'>
                        <div class="col-lg-11 alert alert-primary" style='margin: 20px;' role="alert">Cet élément est en cours de création, il est actuellement indisponible. Vous devez impérativement mettre fin au quiz. Nous sommes navrés pour ce désagrément.</div>
                        <a href='/questionnary/result-{{ question.idQuiz }}' class='col-lg-2 btn btn-lg btn-success'>Terminé</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}