{% extends 'template_frontend.twig' %}

{% block head %}
    <title>Quiz</title>
{% endblock %}

{% block content %}
    {% for quiz in oneQuiz %}
        <a href='javascript:history.back()' class='back_arrow_start'><i class='fa fa-arrow-left fa-2x' aria-hidden='true'></i></a>
        <h1 class='title_start_quiz'>{{ quiz.nameQuiz }}</h1>

        <div class='container col-11'>
            <div class='row'>
                {% for countQuestions in oneCount %}
                    {% if countQuestions > 1 %}
                        <div class='col-12 p_start_quiz'>
                            {{ countQuestions }} questions
                        </div>
                    {% else %}
                        <div class='col-12 p_start_quiz'>
                            {{ countQuestions }} question
                        </div>
                    {% endif %}

                    <div class='col-12 d-flex justify-content-center start_quiz_container'>
                        <img class='rounded' src='public/images/img_quiz/{{ quiz.imageQuiz }}' style='max-width: 35%;' alt='Image représentant le quiz'>

                        {% if countQuestions > 0 %}
                            <a href='./index.php?action=question&indexQuestion={{ firstQuestionIndex }}&idQuiz={{ questions[firstQuestionIndex].idQuiz }}' class='btn-success btn_start_quiz'>Commencer le quiz<i class='fa fa-chevron-right fa-3x' aria-hidden='true'></i></a>
                        {% elseif countQuestions == 0 %}
                            <div class="alert alert-primary" style='margin: 20px;' role="alert">Cet élément est en cours de création, il est actuellement indisponible.</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}